{% extends 'base.html' %}


{% block content %}


<h1>Booking details</h1>
<p>Created by: {{bookings.created_by}} at {{bookings.created_at}}</p>
<p>Details: {{bookings.description }}</p>

<h3>Contact us</h3>

<p>form goes here</p>

<h4>Existing messages</h4>

<p>add logic here: if empty show message - you've no comments</p>
{% for comment in bookings.comments.all %}
<p>{{comment.author}}</p>
<p>{{comment.comm_name}}</p>
<p>{{comment.body}}</p>
<p>{{comment.date_added}}</p>

    <h4>Replies</h4>

    {% for reply in comment.replies.all %}
    <p>{{reply.author}}</p>
    <p>{{reply.reply_body}}</p>
    <p>{{reply.date_added}}</p>
    {% endfor %}

{%endfor%}

{%endblock%}