{% extends 'base.html' %}


{% block content %}


<h1>Booking details </h1> <!--- draft: to be updated with a design-->

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created by</th>
        <th scope="col">Created at</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{bookings.bid}}</th>
        <td>{{bookings.created_by}}</td>
        <td>{{bookings.created_at}}</td>
        <td>{{bookings.description}}</td>
      </tr>
    </tbody>
  </table>

<h3>Contact us</h3>

<p>form goes here</p>

<h4>Existing messages</h4>

<p>add logic here: if empty show message - you've no comments</p>


<ul class="list-group">
    {% for comment in bookings.comments.all %}
    
    <h4>Inquiry:</h4>
    <li class="list-group-item active">From {{comment.author}}: <strong>{{comment.body}}</strong> - at {{comment.date_added}}</li>
    <h4>replies:</h4>
    {% for reply in comment.replies.all %}
    <li class="list-group-item">From {{reply.author}}: <strong>{{reply.reply_body}}</strong> - at {{reply.date_added}}</li>
    {% endfor %}
    
    {%endfor%}
  </ul>

{%endblock%}