{% extends 'base.html' %}

{% block content%}

<h1>Messages page</h1>

<p>under construction, this will be linked to single bid view, where users will be able to reach CS and agents reach users back</p>
<table class="table">
    <thead>
        <tr>
        <th scope="col"># BID</th>
        <th scope="col">User</th>
        <th scope="col">BID LINK</th>
        </tr>
    </thead>
    <tbody>
    
    {% for b in bookings %}
        
        <tr>
        <th scope="row">{{b.bid}}</th>
        <td>{{b.created_by}}</td>
        <td>
           <a href="{% url 'helpcentre:booking_detail' slug=b.slug %}">View Booking</a>
        </td>
        </tr>
    {%endfor%}
</tbody>
</table>

{% endblock %}